body {
	background-color: rgb(102 51 68);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 { /* Nieklin.nl */
	margin: 10px 0 0;
	text-align: center;
}

div#footer {
	background-color: rgb(0 0 0 / 5%);
	bottom: 10px;
	color: rgb(255 255 255 / 10%);
	font-size: small;
	padding: 7px;
	position: absolute;
	right: 10px;
}

.link-button {
	border: 1px solid rgb(0 0 0 / 10%);
	color: rgb(255 255 255 / 90%);
	display: inline-block;
	font-weight: bold;
	padding: 2px 5px;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    border-radius: 4px;
}

h1 span.link-button {
	background-color: rgb(119 68 85);
	padding: 4px 50px;
}

a.link-button {
    text-decoration: none;
}

a.link-button:hover {
	border: 1px solid rgb(255 255 255 / 10%);
	color: rgb(255 255 255);
	text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

div#footer a {
	color: rgb(255 255 255 / 15%);
    text-decoration: none;
}

div#footer a:hover {
	color: rgb(255 255 255 / 35%);
    text-decoration: underline;
}
