on: push
name: Deploy website
jobs:
    web-deploy:
        name: Deploy
        runs-on: ubuntu-latest
        steps:
        - name: Get latest code
          uses: actions/checkout@v4

        - name: Sync files
          uses: SamKirkland/FTP-Deploy-Action@v4.3.5
          with:
            server: nieklin.nl
            server-dir: "public_html/"
            username: ${{ secrets.FTP_USERNAME }}
            password: ${{ secrets.FTP_PASSWORD }}